#main {
    background-color: lightgray;
    border-radius: 5px;
}

#title {
    text-align: center;
    padding-top: 40px;
}

h1{
    font-size: 30pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*section{
    text-align: center;
    margin: 20%;
}*/

.years {
    font-weight: bold;
}

#image{   
    max-width: 100%;
    height: auto;
    margin: 10px;
}
#img-div{
    text-align: center;
    background-color: white;
    margin: 15px
}

li,ul>p {
    max-width: 600px;
    margin: 10px;
}

#tribute-info{
    text-align: center;
}

.myUL{
    display: inline-block;
    text-align: left;
}